.BgToggle__Container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 4;

  .BgToggle__Title {
    font-size: 10px;
    color: #B0B0B0;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}