
.Header__Container {
  display: flex;
  padding: 15px 20px 20px 20px;
  justify-content: space-between;

  .Header__Logo {
    width: 214px;
    height: 50px;

    img {
      margin-top: 10px;
    }
  }

  .Header__Info {
    img {
      margin-right: 5px;
      top: 1px;
      position: relative;
    }

    color: #B8B8B8;
    font-family: 'Nunito';
    font-size: 11px;
  }
}